
   
.custom-button {
  background-color: primary; /* צבע רקע */
  color: primary; /* צבע טקסט */
  padding: 10px 20px; /* רווח פנימי */
  font-size: 16px; /* גודל גופן */
  border: none; /* להסיר גבולות */
  text-align: center; /* ייאור טקסט למרכז */
  text-decoration: none; /* להסיר קווים תחתונים */
  display: inline-block; /* לתצוגה כבלוק כדי שנוכל להגדיר רוחב וגובה */
  cursor: pointer; /* סמל עכבר מתקנה */
  border-radius: 5px; /* פינות מעגלות */
  margin: 5px; /* רווח בין הכפתורים */
}

.custom-link {
  font-size:20px;
  color: primary; /* צבע הקישור */
  text-decoration: none; /* להסיר קווים תחתונים */
}

.custom-button:hover {
  background-color: primary; /* צבע רקע בעת העצמת העכבר */
}
  .div{
    margin-top: 300px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  #side{
    /* margin-top: 200px; */
    position: fixed;
    left:72vw;
    top:5vw;

     width: 400px;
    padding: 20px;
     display: flex;
    flex-direction: row;
    z-index:2;
   }

